<p>
  <input #email type="text" placeholder="Username">
  <br>
  <input #password type="text" placeholder="Password">
  <br>
  <button (click)="signInWithEmail(email.value,password.value)" >Submit</button>
</p>

 <!-- <div class="form-group">
    <input #email type="text" placeholder="Username">
    <br>
    <input #password type="text" placeholder="Password">
    <br>
  <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" 
    [disabled]="formCtrl.form.invalid">
    Login with Email
  
  </button>
</div>   -->